* {
  border: 1px dashed blue;
}
body {
  margin: 0;
}

header {
  font-size: 25px;
  color: #71B43D;
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 0px;
}


.bio {
  display: block;
  padding-bottom: 30px;
}

.projets {
}

span {
  margin-left: 150px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.grey-bg {
  background-color: #F7F7F7;
}

h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
}

h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #3C3C3C;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 10px;
}

h5 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #3C3C3C;
  text-transform: uppercase;
  margin-left: 20px;
}

label {
  margin: -15px 0 0 15px;
}

p, label {
  margin-top: -15px;
  color: #777777;
  font-size: 12px;
  line-height: 1.75;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-style: italic;
  margin-left: 50px;
}

footer {
  text-align: center;
  color: #777;
  font-size: 11px;
  line-height: 1.75;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu_horizontal li {
  display: inline;
  padding: 0 0.5em;
}

#menu_horizontal {
  list-style: none;
  display: inline;
}

#menu_horizontal a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#menu_horizontal a:hover {
  color: #71b43d;
}

#phopro {
  border-radius: 10px;
  float: left;
  margin: 10px 0 0 10px;
  display: block;
}

.bio p {
  margin: 0 0 0 280px;
}

.objectif {
  display: block;
}

div {
  margin-left: 100px;
  margin-right: 100px;
}

.trombi img {
  display: block;
}

.trombi li {
    list-style: none;
    text-decoration: none;
    width: 150px;
    height: 190px;
    text-align: center;
    float: left;
    margin-right: 15px;
}

.trombi a {
  text-decoration: none;
}

.galerie {
  width: 960px;
  margin: auto;
}

section: {
  width: 960px;
}
